.menu {
  width: 100%;
  height: 90rem;
  background-color: $dreamless-sleep;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__ponuda,
  &__dostava {
    display: flex;
    flex-direction: column;
    align-items: center;
    isolation: isolate;
  }

  &__ponuda {
    margin-bottom: 7rem;
  }

  &__dostava {
  }

  & .mini__title {
    margin-bottom: 2rem;
  }

  & a.link {
    &:not(:last-of-type) {
      margin-bottom: -2rem;
    }
  }

  [data-img="gyrosR"],
  [data-img="picaR"] {
    width: 27.4rem;
    height: 18.3rem;
    object-fit: cover;
    position: absolute;

    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

    transition: transform 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19),
      clip-path 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19),
      -webkit-clip-path 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  [data-img="gyrosR"].show,
  [data-img="picaR"].show {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    transform: translate3d(0, 0, 0);

    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: 0.8s;
  }

  [data-img="gyrosR"].hide,
  [data-img="picaR"].hide {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transform: translate3d(0, 50%, 0);
  }

  [data-img="gyrosR"].initial,
  [data-img="picaR"].initial {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

    transition: clip-path 0s cubic-bezier(0.55, 0.055, 0.675, 0.19),
      -webkit-clip-path 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}
