.slider {
  background-color: $white;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;

  .item-1 {
    width: 100vw;

    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);

    img {
      display: block;
      width: 50vw;
    }
  }

  .item-2 {
    padding: 0 19rem;
    position: relative;

    div {
      height: 100vh;
      width: 47.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h3 {
        @extend %title-44;
        font-weight: 600;
        color: $vivid-vermilion;
        margin-bottom: 4.2rem;
        text-align: center;
      }

      p {
        @extend %description-21;
        color: $black;
        text-align: left;
      }
    }
  }
}
